{% extends 'BaseTemplate.html' %}
{% block title %}Reset Pasword{% endblock %}
{% block content %}
<div class="main-content-login">
<div class="formoutercontainer">
<div class="form_content_container">
        <div class="sitename">
            <h3>Enter Registered Email to get Password reset link</h3>
        </div>

        <div class="formcontainer">
            <form method="POST" aria-autocomplete="none" autocomplete="off" novalidate>
                {{form.hidden_tag()}}
                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
                
                <div class="formcont">
                    <div class="form" aria-autocomplete="none">
                        {{ form.email }}
                        {{form.email.label(class='form__label')}}
                        <i class="material-symbols-rounded no-select">mail</i>
                    </div>
                    <div class="error">
                        {% if form.email.errors %}
                            {% for i in form.email.errors %}
                                <span>{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <div class="button-div">
                    {{ form.submit }}
                </div>
            </form>
            <div id="loader" class="loader d-none"></div>
        </div>
</div>
</div>
</div>
<script>
const sendEmailButton = document.querySelector('#submit');
const loader = document.querySelector('#loader');

sendEmailButton.addEventListener('click', function() {
    setTimeout(function() {
    loader.classList.remove('d-none');
  },1000)
});

</script>
{% endblock %}